/*
Orange color: #e67e22

---Typography---
Recommended font-size for headers: 2.4em / 240% / 90px (or between 60px-90px)
Recommended font-size for regular text: 22px (or between 15px - 25px)
Recommended line-spacing: 150% (or between 120% - 150%)
Recommended characters per line: 45-90 characters
*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: none;
	position: static;
}

img {
	max-width: 100%;
	height: auto;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
.header {
  width: 100%;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1280px;
  height: 80px;
}
.header__logo {
  width: 70px;
  margin-top: 45px;
  margin-left: 45px;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  display: flex;
}
.header__nav-item {
  margin-left: 40px;
}
.header__nav-item a {
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.mv {
  width: 100%;
  height: 780px;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.mv__wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}
.mv__texts {
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
  text-transform: uppercase;
}
.mv__texts-title {
  font-size: 28px;
  letter-spacing: 0.2em;
  line-height: 1.5;
}
.btn-gradient-radius {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.message {
  padding-top: 96px;
  padding-bottom: 100px;
  color: black;
}
.message__body {
  text-align: center;
  color: black;
}
.message__body-title {
  font-size: 36px;
  color: black;
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
}
.message__body-p {
  padding-top: 43px;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 1.5;
  font-size: 20px;
}

.icon-big {
  color: #FFC107;
  font-size: 60px;
}

.footer{
  background-color: #555;
  color: #fff;
}
.footer__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 50px;
  max-width: 1280px;
}
.footer__nav {
  display: flex;
}
.footer__nav-item {
  padding-right: 12px;
}
.footer__nav-item a {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}
.footer__cr {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 600px;
  display: flex;
  font-size: 14px;
  line-height: 2.3;
}
.copyrights {
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 20px;
}

@media all and (max-width: 767px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .header__wrap {
    padding-right: 23px;
    padding-left: 10px;
    height: 50px;
  }
  .header__logo {
    width: 50px;
  }
  .header__nav {
    display: none;
  }
  .header__navsp {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
  }
  .mv {
    width: 100%;
    height: 525px;
    background-image: url(../img/mv_sp.png);
  }
  .mv__texts {
    position: absolute;
    top: 90px;
    left: 27px;
    color: #fff;
  }
  .mv__texts-title {
    font-size: 20px;
  }
  .btn-gradient-radius {
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
  }
  .btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
   .interview {
    padding-top: 58px;
  }
  .interview__title {
    padding-left: 0;
    padding-bottom: 38px;
    text-align: center;
  }
  .interview__body {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .interview__body-item {
    margin-left: 0;
    width: calc(50% - 1px);
  }
  .interview__body-item-texts {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 27px;
    padding-left: 10px;
  }
  .interview__body-item-texts-title {
    font-size: 11px;
  }
  .interview__body-item-texts-p {
    padding-top: 4px;
    font-size: 10px;
  }
  .footer__wrap {
    flex-direction: column;
    justify-content: center;
    height: 68px;
  }
  .footer__nav-item {
    padding-right: 8px;
  }
  .footer__nav-item:last-child {
    padding-right: 0;
  }
  .footer__nav-item a {
    font-size: 10px;
  }
  .footer__cr {
    padding-top: 12px;
    font-size: 10px;
  }
}
